[Desktop Entry]
Name=Vanilla Box Dark
Comment=A minimal, modern look — dark variant
Type=Service
X-KDE-PluginInfo-Author=Sizwe
X-KDE-PluginInfo-Email=basic.seez@gmail.com
X-KDE-PluginInfo-Name=VanillaBoxDark
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
